<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Image Uploader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/selected-profile-post.css}">
    </head>
    <body>
        <div id="container">
            <div>
                <br>
                <nav>
                    <ul>
                        <li id="linkToIndexPage">
                            <a th:href="@{/home}">Home <span id="breadcrumbSeparator">></span></a>
                        </li>
                        <li id="linkToPreviousPage">
<!--                            <a th:href="@{/user/profile/{username}(username = ${session.user.userName})}">User Profile</a>-->
                            <a>User Profile</a>
                        </li>
                    </ul>
                </nav>
                <br>
            </div>
            <div class="card">
                <div class="card-header">
                    <div th:each="user : ${users}">
                        <div th:if="${user.id == selectedPost.user.id}">
                            <div th:if="${user.userProfile.profileImage} != null">
                                <div th:each="userProfileImage : ${userProfileImages}">
                                    <div th:if="${user.id == userProfileImage.key}">
                                        <div class="col-md-2 col-4 profileImage">
                                            <a th:href="@{/user/profile/{username}(username = ${user.userName})}">
                                                <img th:src="${'data:image/png;base64,' + userProfileImage.value}"
                                                     th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                     th:title="${user.firstName} + ' ' + ${user.lastName}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${user.userProfile.profileImage} == null">
                                <div class="col-md-2 col-4 profileImage">
                                    <a th:href="@{/user/profile/{username}(username = ${user.userName})}">
                                        <img th:src="@{/images/avatar/avatar.jpg}"
                                             th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                             th:title="${user.firstName} + ' ' + ${user.lastName}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-8 profileDescription">
                        <span th:text="${postCreator.userName}">User</span><br>
                        <div th:if="${dayOfMonth < 10}" class="postDateText">
                            <span th:text="'Posted on ' + ${#temporals.format(selectedPost.dateOfPost, 'MMM d, yyyy')}">Created Date</span>
                        </div>
                        <div th:if="${dayOfMonth >= 10}" class="postDateText">
                            <span th:text="'Posted on ' + ${#temporals.format(selectedPost.dateOfPost, 'MMM dd, yyyy')}">Created Date</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="btn-toolbar" th:if="${isThisProfileFromLoggedInUser}" style="margin-left: 20px">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="margin-right: 15px">Delete</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update</button>
                </div>

                <div class="btn-toolbar">
                    <span th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="margin-right: 15px">Delete</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update</button>
                    </span>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleDeleteModalLabel">Delete User Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <p class="col-form-label">Are you sure you want to delete this Post?</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a th:href="@{/user/profile/delete/{username}/post/{id}(username = ${selectedPost.user.userName}, id = ${selectedPost.id})}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleUpdateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleUpdateModalLabel">Update User Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <p class="col-form-label">Are you sure you want to update this Post?</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a th:href="@{/user/profile/update/{username}/post/{id}(username = ${selectedPost.user.userName}, id = ${selectedPost.id})}">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="card-content">
                    <div class="card-body">
                        <div>
                            <a data-toggle="modal" data-target="#exampleModalLong">
                                <img th:src="${'data:image/png;base64,' + selectedPostImage}" width="960" height="500">
                            </a>
                        </div>
                        <div id="postIcons" class="input-group">
                            <img th:src="@{/images/post/hearth.png}" alt="Like" title="Like" id="hearthIcon">
                            <img th:src="@{/images/post/download.png}" alt="Download" title="Download" id="downloadIcon">
                            <img th:src="@{/images/post/save.png}" alt="Save To Profile" title="Save To Profile" id="saveToProfileIcon">
                        </div>
                        <br>
                        <b>
                            <span th:text="${selectedPost.user.userName}">Username</span>
                        </b>
                        <span class="card-text" th:text="${selectedPost.description}">Description</span>
                        <br>
                        <div th:each="postHashTag : ${postHashTags}">
                            <span th:text="${postHashTag}">HashTags</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div th:each="comment : ${comments}">
                <div th:each="user : ${users}">
                    <div th:if="${user.id == comment.user.id}">
                        <div class="card">
                            <div class="card-header">
                                <a th:href="@{/user/profile/{username}(username = ${user.userName})}">
                                    <div th:if="${user.userProfile.profileImage} != null">
                                        <div th:each="userProfileImage : ${userProfileImages}">
                                            <div th:if="${user.id == userProfileImage.key}">
                                                <div class="col-md-2 col-4 profileImage">
                                                    <img th:src="${'data:image/png;base64,' + userProfileImage.value}"
                                                         th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                         th:title="${user.firstName} + ' ' + ${user.lastName}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${user.userProfile.profileImage} == null">
                                        <div class="col-md-2 col-4 profileImage">
                                            <img th:src="@{/images/avatar/avatar.jpg}"
                                                 th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                 th:title="${user.firstName} + ' ' + ${user.lastName}">
                                        </div>
                                    </div>
                                </a>
                                <div class="col-md-10 col-8" style="margin-top: 10px;">
                                    <span th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}">User</span><br>
                                    <span th:text="'Commented ' + ${#temporals.format(comment.dateOfPost, 'MMM dd, yyyy')}" style="color: #A9A9A9;">Created Date</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${comment.description}">Description</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>