<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>ForumOverflow</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/update-user-profile.css}">
    </head>
    <script>
        $('#updateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            var modal = $(this);
            modal.find('.modal-body input').val(recipient);
        });
    </script>
    <body>
        <div id="container">
            <br>
            <nav>
                <ul>
                    <li id="indexBreadcrumbLink">
                        <a th:href="@{/home}">Home <span id="breadcrumbSeparator">></span></a>
                    </li>
                    <li id="currentBreadcrumbLink">
                        <a>User Profile</a>
                    </li>
                </ul>
            </nav>
            <br>
            <form th:action="@{/user/profile/submit/update/form}" th:object="${searchedUserProfile}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 col-4" style="float: left; margin-right: -30px;">
                                <div th:each="user : ${users}">
                                    <div th:if="${user.userName == userUsername}">
                                        <div th:if="${user.userProfile.profileImage} != null">
                                            <div th:each="userProfileImage : ${userProfileImages}">
                                                <div th:if="${user.id == userProfileImage.key}">
                                                    <div class="col-md-2 col-4 profileImage">
                                                        <img th:src="${'data:image/png;base64,' + userProfileImage.value}"
                                                             th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                             th:title="${user.firstName} + ' ' + ${user.lastName}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${user.userProfile.profileImage} == null">
                                            <div class="col-md-2 col-4 profileImage">
                                                <img th:src="@{/images/avatar/avatar.jpg}"
                                                     th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                     th:title="${user.firstName} + ' ' + ${user.lastName}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-8">
                                <h1 th:text="${searchedUserProfile.firstName} + ' ' + ${searchedUserProfile.lastName} + '(' + ${searchedUserProfile.userName} + ')'" class="text-danger">User</h1>
                                <h3 th:text="${searchedUserProfile.email}" class="text-danger">Email</h3>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div th:if="${successUpdateUserProfile}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong th:text="${successUpdateUserProfile}">Message</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="border p-4">
                                <legend  class="w-auto"> Profile image credential </legend>
                                <div class="custom-file">
                                    <input id="userProfileImage" type="file" accept="image/*" name="userProfileImage">
                                    <label class="custom-file-label" for="userProfileImage">Choose Profile image</label>
                                </div>
<!--                                <label for="userProfileImage">Choose post image</label>-->
<!--                                <br>-->
<!--                                <input name="userProfileImage" id="userProfileImage" type="file" accept="image/*">-->
                            </fieldset>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="border p-4">
                                <legend  class="w-auto"> Location credential </legend>
                                <div class="form-group row">
                                    <label for="countryName" class="col-sm-2 col-form-label">Country: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.countryName}" class="form-control" id="countryName" placeholder="France">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cityName" class="col-sm-2 col-form-label">City: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.cityName}" class="form-control" id="cityName" placeholder="Paris">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="border p-4">
                                <legend  class="w-auto"> Description credential </legend>
                                <div class="col">
                                    <label for="userProfileDescription">Write a description about yourself</label>
                                    <textarea th:field="*{userProfile.userDescription}" class="form-control" id="userProfileDescription" rows="5" placeholder="Write a description about yourself..."></textarea>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="border p-4">
                                <legend  class="w-auto"> Employment credential </legend>
                                <div class="form-group row">
                                    <label for="positionName" class="col-sm-2 col-form-label">Position: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.positionName}" class="form-control" id="positionName" placeholder="Software Developer">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="companyName" class="col-sm-2 col-form-label">Company/Organization: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.companyName}" class="form-control" id="companyName" placeholder="Toyota">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="startYear" class="col-sm-2 col-form-label">Start Year: </label>
                                    <div class="col-sm-10">
                                        <input type="number" th:field="*{userProfile.startYear}" class="form-control" id="startYear">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="endYear" class="col-sm-2 col-form-label">End Year: </label>
                                    <div class="col-sm-10">
                                        <input type="number" th:field="*{userProfile.endYear}" class="form-control" id="endYear">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="stillWorking" class="col-sm-2 col-form-label">I currently work here</label>
                                    <div class="col-sm-10" style="margin-top: 10px;">
                                        <div class="form-check">
                                            <input class="form-check-input" th:field="*{userProfile.isWorkingHere}" type="checkbox" id="stillWorking">
                                            <label class="form-check-label" for="stillWorking"></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="border p-4">
                                <legend  class="w-auto"> Education credential </legend>
                                <div class="form-group row">
                                    <label for="schoolName" class="col-sm-2 col-form-label">School: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.schoolName}" class="form-control" id="schoolName" placeholder="Stanford University">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="concentrationName" class="col-sm-2 col-form-label">Concentration: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.concentrationName}" class="form-control" id="concentrationName" placeholder="Computer Science">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="secondaryConcentrationName" class="col-sm-2 col-form-label">Secondary Concentration: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.secondaryConcentrationName}" class="form-control" id="secondaryConcentrationName" placeholder="Mathematics">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="degreeTypeName" class="col-sm-2 col-form-label">Degree Type: </label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{userProfile.degreeTypeName}" class="form-control" id="degreeTypeName" placeholder="M.S.">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="graduationYearName" class="col-sm-2 col-form-label">Graduation Year: </label>
                                    <div class="col-sm-10">
                                        <input type="number" th:field="*{userProfile.graduationYear}" class="form-control" id="graduationYearName">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#updateModal">Update Profile</button>
                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Updating User Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <p class="col-form-label">Are you sure you want to update your Profile with new data?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </body>
</html>