<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Image Uploader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/user-profile.css}">
    </head>
    <body>
        <div id="container">
            <div>
                <br>
                <nav>
                    <ul>
                        <li id="linkToIndexPage">
                            <a th:href="@{/home}">Home <span id="breadcrumbSeparator">></span></a>
                        </li>
                        <li id="linkToCurrentPage">
                            <a th:href="@{/user/profile/{username}(username = ${user.userName})}">User Profile</a>
                        </li>
                    </ul>
                </nav>
                <br>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1 col-8" style="float: left; margin-right: 40px;">
                                <div th:each="user : ${users}">
                                    <div th:if="${user.userName == userUsername}">
                                        <div th:if="${user.userProfile.profileImage} != null">
                                            <div th:each="userProfileImage : ${userProfileImages}">
                                                <div th:if="${user.id == userProfileImage.key}">
                                                    <div class="col-md-2 col-4 profileImage">
                                                        <img th:src="${'data:image/png;base64,' + userProfileImage.value}"
                                                             th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                             th:title="${user.firstName} + ' ' + ${user.lastName}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${user.userProfile.profileImage} == null">
                                            <div class="col-md-2 col-4 profileImage">
                                                <img th:src="@{/images/avatar/avatar.jpg}"
                                                     th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                     th:title="${user.firstName} + ' ' + ${user.lastName}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11 col-8">
                                <div class="d-flex flex-row">
                                    <div class="p-2">
                                        <h3 th:text="${user.userName}" class="text-danger">User</h3>
                                    </div>
                                    <div class="p-2">
                                        <div th:if="${isThisProfileFromLoggedInUser}">
                                            <a th:href="@{/user/profile/show/update/form}">
                                                <button type="button" class="btn btn-primary">Update Profile</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div class="p-2">
                                        <p class="text-danger">
                                            Number of posts: <span th:text="${numberOfUserPosts}">Number of posts</span>
                                        </p>
                                    </div>
                                    <div class="p-2">
                                        <p class="text-danger">Followers: 295</p>
                                    </div>
                                    <div class="p-2">
                                        <p class="text-danger">Following: 123</p>
                                    </div>
                                    <div class="p-2">
                                        <p class="text-danger">Save posts: 12</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left: 35px; margin-top: 10px">
                            <span th:text="${user.firstName} + ' ' + ${user.lastName}" class="text-danger">Name</span>
                            <span th:if="${user.userProfile.positionName} != null and ${user.userProfile.companyName} != null">
                                <span th:text=" ', working as ' + ${user.userProfile.positionName} + ' at ' + ${user.userProfile.companyName}" class="text-danger">Company</span>
                            </span>
                            <div th:if="${user.userProfile.cityName} != null">
                                <span th:text="${user.userProfile.cityName}" class="text-danger">Place of living</span>
                                <span th:if="${user.userProfile.countryName} != null">
                                    <span th:text="', ' + ${user.userProfile.countryName}" class="text-danger"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-deck">
                        <div th:each="userPost : ${userPosts}" class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card">
                                <div th:each="image : ${postImages}">
                                    <div th:if="${userPost.id == image.key}">
                                        <div id="image">
                                            <a th:href="@{/user/profile/post/{id}(id = ${userPost.id})}">
                                                <img class="card-img" th:src="${'data:image/png;base64,' + image.value}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>