.profileImage {
    float: left;
    margin-right: -60px;
    margin-left: -15px;
    margin-top: 3px;
}

.profileImage img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#postImage {
    border: 1px solid black;
}

#postImage:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.profileDescription {
    margin-top: 10px;
}

.postDateText {
    color: #A9A9A9;
}

#postIcons {
    margin-top: 10px;
}

#postIcons img {
    width: 25px;
    height: 25px;
}

#downloadIcon {
    margin-left: 10px;
}

#saveToProfileIcon {
    margin-left: 10px;
}