#postImage {
    border: 1px solid black;
}

.profileImage {
    float: left;
    margin-right: -80px;
    margin-left: -25px;
    margin-top: 3px;
}

.profileImage img {
    width: 50px;
    height: 50px;
}

.profileDescription {
    margin-top: 5px;
}

.postDateText {
    color: #A9A9A9;
}