body {
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
}

#container {
    margin: 0 auto;
    max-width: 1300px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
}

label {
    display: block;
    color: white;
}

a:hover {
    color: #ff9900;
}

#indexBreadcrumbLink {
    margin-left: -40px;
}

#breadcrumbSeparator {
    margin: 0 10px;
}