<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Image Uploader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    </head>
    <body>
        <div id="container">
            <div>
                <br>
                <nav>
                    <ul>
                        <li id="linkToIndexPage">
                            <a th:href="@{/home}">Home <span id="breadcrumbSeparator">></span></a>
                        </li>
                        <li id="linkToCurrentPage">
                            <a th:href="@{/login}">Sign In</a>
                        </li>
                    </ul>
                </nav>
                <br>
            </div>
            <div id="loginContainer" class="col-lg-6 col-md-6 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{/authenticateTheUser}" method="post" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-15">
                                    <div>
                                        <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Invalid username or password.
                                        </div>
                                        <div th:if="${successfulRegistrationMessage}" class="alert alert-success col-xs-offset-1 col-xs-10">
                                            <strong th:text="${successfulRegistrationMessage}">Message</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" placeholder="Password" class="form-control" >
                            </div>
                            <div class="form-group loginButton">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="form-group loginButton">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a id="google-button" th:href="${googleUrl}" class="btn btn-block btn-social btn-google">
                                            <i class="fa fa-google"></i> Sign in with Google
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group loginButton">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a id="github-button" th:href="${githubUrl}" class="btn btn-block btn-social btn-github">
                                            <i  class="fa fa-github"></i> Sign in with Github
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="signUpButton">
                    <span>Don't have an account?</span>
                    <a th:href="@{/registration}" class="btn btn-primary" role="button" aria-pressed="true">Sign Up</a>
                </div>
            </div>
        </div>
    </body>
</html>