<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Image Uploader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/user-info.css}">
    </head>
    <body>
        <div id="container">
            <br><br>
            <form>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="col-md-1 col-8" style="float: left; margin-right: 40px;">
                            <div th:each="user : ${users}">
                                <div th:if="${user.userName == userUsername}">
                                    <div th:if="${user.userProfile.profileImage} != null">
                                        <div th:each="userProfileImage : ${userProfileImages}">
                                            <div th:if="${user.id == userProfileImage.key}">
                                                <div class="col-md-2 col-4 profileImage">
                                                    <img th:src="${'data:image/png;base64,' + userProfileImage.value}"
                                                         th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                         th:title="${user.firstName} + ' ' + ${user.lastName}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${user.userProfile.profileImage} == null">
                                        <div class="col-md-2 col-4 profileImage">
                                            <img th:src="@{/images/avatar/avatar.jpg}"
                                                 th:alt="${user.firstName} + ' ' + ${user.lastName}"
                                                 th:title="${user.firstName} + ' ' + ${user.lastName}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">First name:</span> <span th:text="${user.firstName}">First name</span>
                        </div>
                        <div class="col">
                            <span class="info-text">Last name:</span> <span th:text="${user.lastName}">Last name</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Username:</span> <span th:text="${user.userName}">Username</span>
                        </div>
                        <div class="col">
                            <span class="info-text">Email:</span> <span th:text="${user.email}">Email</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Package name:</span> <span th:text="${user.userPackage.name}">Package name</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Number of posts:</span> <span th:text="${user.email}">Number of posts</span>
                        </div>
                        <div class="col">
                            <span class="info-text">Number of comments:</span> <span th:text="${user.email}">Number of comments</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Number of saved images:</span> <span th:text="${user.email}">Number of saved images</span>
                        </div>
                        <div class="col">
                            <span class="info-text">Number of download images:</span> <span th:text="${user.email}">Number of download images</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Number of uploaded images with current package:</span> <span th:text="${user.email}">Number of uploaded images with current package</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 info-div">
                    <div class="form-row info">
                        <div class="col">
                            <span class="info-text">Number of uploaded image size with current package:</span> <span th:text="${user.email}">Number of uploaded image size with current package</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>